.hardware {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%;
  /* background: #f5f5f5; */
  /* box-shadow: 0px 0px 12px #f1f0f0 inset; */
}
.hardware-item {
  /* background: #f5feff; */
  background: #01c1de;
  margin: 1rem;
  /* margin-left: 3rem; */
  margin-right: 3rem;
  border: 1px lightgray solid;
  border-radius: 1px;
  /* border: 1px black dashed; */
  flex-shrink: 0;
  flex: 0 0 calc(25%);
  -moz-box-shadow: 0px 0px 6px #f1f0f0;
  -webkit-box-shadow: 0px 0px 6px #f1f0f0;
  box-shadow: 0px 0px 6px #f1f0f0;
  height: 8.6rem;
  text-align: center;
  color: #414343;
}
.hardware-item-logo {
  background: white;
  height: 4.5rem;
}
.hardware-item-img {
  background: url("images/monitor/fpga.png");
  position: relative;
  left: 0px;
  top: 15px;
  z-index: 1;
}
.hardware-item-logo-collect {
  height: 43px;
  position: relative;
  left: 0px;
  top: 12px;
}
.hardware-item-logo-gernerate {
  height: 40px;
  position: relative;
  left: 0px;
  top: 11px;
  margin-left: 3px;
}
.hardware-item-logo-collision {
  height: 42px;
  position: relative;
  left: 0px;
  top: 13.5px;
  margin-left: -10px;
  margin-right: -29px;
}
.hardware-item-logo-partition {
  height: 53px;
  position: relative;
  left: -1px;
  top: 18px;
  margin-right: -6px;
}
.hardware-item-logo-decode {
  height: 50px;
  position: relative;
  left: 0px;
  top: 12.5px;
  padding-top: 4px;
  margin-right: -6px;
}
.hardware-item-name {
  background: white;
  padding-bottom: 0.3rem;
  font-size: 1rem;
  color: #01c1de;
  font-weight: bold;
}
.hardware-item-time-back {
  background: #f7f7f7;
  border-top: 1px #efefef solid;
  font-size: 0.4rem;
}
.hardware-item-time {
  margin-top: 0.1rem;
  padding-bottom: 0.2rem;
  margin-bottom: 0.1rem;
  z-index: 100;
}

.device {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  flex-wrap: wrap;
  /* width: 100%; */
  /* margin-left: 1rem; */
}
.device-item {
  background: #01c1de;
  flex: 0 0 calc(99%);
  margin: 0.5rem;
  display: flex;
  /* width: 80%; */
  /* flex-direction: row; */
  /* border-radius: 2px; */
  /* padding: 1rem 0; */
  /* font-size: 0.5rem; */
  /* color: #fff; */
  border: 1px lightgray solid;
  /* margin-right: 20rem; */
  /* margin-left: 1rem;
  margin-top: 1rem; */
  /* margin-bottom: 1rem; */
}
.device-item-title {
  font-family: Microsoft YaHei;
  font-size: 1rem;
  color: white;
  text-align: center;
  flex: 0.7;
  padding: 0.5rem;
  margin-top: 0.25rem;
}
.device-item-content {
  background: white;
  display: flex;
  flex: 9;

  /* width: 50rem; */
  /* flex-direction: column; */
  flex-direction: row;
  /* margin-bottom: 0.2rem; */
  /* padding: 0.6rem; */
  margin-right: 0.5rem;
}
.device-back {
  background-color: white;
  margin-right: 2rem;
}
.device-item-content-cell {
  flex: 1;
  /* margin: 0.1rem 0 0 0.1rem; */
  /* display: inline-block; */
  /* vertical-align: middle; */
  border-right: 1px lightgray solid;
  /* border-bottom: 1px lightgray solid; */
  padding-right: -2rem;
  padding-left: 1rem;
  font-size:0.8rem;
  /* margin-right: 1rem; */
  padding-top: 0.5rem;
  margin-left: 0rem;
}
.device-item-content-cell-icon {
  vertical-align: middle;

  display: inline-block;
}
.device-item-content-cell-name {
  margin-left: 0.3rem;
  display: inline-block;
  font-size:0.8rem;
}
.device-item-content-cell-content {
  margin-left: 0.2rem;
  display: inline-block;
  font-weight: bold;
  font-size:0.8rem;
  /* width: 10rem; */
}
.device-runtime-footer {
  vertical-align: middle;
  display: inline-block;
  padding-top: 0.1rem;
}
.device-runtime-item {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.3rem;
}
.device-footer {
  margin-left: 2.3rem;
}
.board-device-content {
  display: flex;
  flex-direction: column;
  background: #c2a465;
  box-shadow: 0 0 1px black;
  border-radius: 6px 6px 6px 6px;
  margin-top: 0.5rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-left: 2rem;
  margin-bottom: 0.6rem;
  padding-top: 0.5rem;
  width: 80%;
  padding-bottom: 0.5rem;
}
/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent white transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
} */
/* .btn {
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 15px;
  position: relative;
  background-image: linear-gradient(
    to top,
    #262626 0px,
    #404040 10px,
    #262626 10px,
    #333 100%
  );
}
.btn:hover {
  color: #fff;
}
.btn:after {
  content: "";
  width: 0;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 5px 5px;
  transition: all 0.35s ease 0s;
}
.btn:hover:after {
  width: 100%;
}
.btn.btn-sm {
  padding-bottom: 10px;
  background-image: linear-gradient(
    to top,
    #262626 0px,
    #404040 8px,
    #262626 8px,
    #333 100%
  );
}
.btn.btn-sm:after {
  height: 8px;
}
.btn.btn-xs {
  padding-bottom: 8px;
  background-image: linear-gradient(
    to top,
    #262626 0px,
    #404040 6px,
    #262626 6px,
    #333 100%
  );
}
.btn.btn-xs:after {
  height: 6px;
}
.btn.red:after {
  background: #ff6e6e;
}
.btn.blue:after {
  background: #5cbcf6;
}
.btn.orange:after {
  background: #ef965c;
}
.btn.green:after {
  background: #7ad79a;
}
@media only screen and (max-width: 767px) {
  .btn {
    margin-bottom: 20px;
  }
} */
