<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>录题</title>
    <link type="text/css" rel="stylesheet" href="../css/common.css">
    <link type="text/css" rel="stylesheet" href="../css/css.css">
    <script type="text/javascript" src="../lib/jquery-1.9.1.js"></script>   
    <script src="../bower_components/html5shiv/dist/html5shiv.min.js"></script>    
</head>

<body>
    <header id="header">
        <div class="top_box">
            <a class="logo" href="../index.html"><img src="../images/logo.png"></a>
            <ul class="top_nav">
                <li><a href="#">退出登录</a></li>
                <li><span>|</span></li>
                <li><img src="../images/topicon1.png"><a href="#">姓名</a></li>
                <li><span>|</span></li>
                <li><a href="#">我要组卷</a></li>
                <li><span>|</span></li>
                <li><a href="#">我要录题</a></li>
            </ul>
        </div>
    </header>
    <!--header End-->
    <div id="container">
        <nav id="nav_div">
            <div align="center">
                <ul>
                    <li><a class="cursor">填写基本信息</a></li>
                    <li><a href="Form-the-paper-2.html#选题">选题</a></li>
                    <li><a class="cursor">预览</a></li>
                    <li><a href="Form-the-paper-4.html#发布成功">发布成功</a></li>
                </ul>
                <ul>
                    <li>
                        <a class="cursor"></a>
                    </li>
                    <li>
                        <p class="progress"></p>
                    </li>
                    <li>
                        <a href="Form-the-paper-2.html#选题"></a>
                    </li>
                    <li>
                        <p class="progress"></p>
                    </li>
                    <li>
                        <a class="dotActive"></a>
                    </li>
                    <li>
                        <p class="progress"></p>
                    </li>
                    <li>
                        <a href="Form-the-paper-4.html#发布成功"></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--nav End-->
        <section class="set_div">
            <div style="margin-left:40px;">
                <input type="checkbox" id="checkbox1">
                <label for="checkbox1">单选题</label>
                &nbsp;&nbsp;&nbsp;
                <input type="checkbox" id="checkbox2">
                <label for="checkbox2">填空题</label>
            </div>

        </section>
    </div>
    <!--container End-->
    <div id="container">
        <div class="card">
            <div class="card_left">
                <p style="margin-top:10px;">1</p>
            </div>
            <div class="card_right">
                <div class="card_right_up">
                    <div style="margin:10px 20px;" class="right">
                        <p>分值:&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="text_2" type="text">
                        </p>
                    </div>
                </div>
                <div class="card_right_down"></div>
            </div>
        </div>
        <div class="card">
            <div class="card_left">
                <p style="margin-top:10px;">2</p>
            </div>
            <div class="card_right">
                <div class="card_right_up">
                    <div style="margin:10px 20px;" class="right">
                        <p>分值:&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="text_2" type="text">
                        </p>
                    </div>
                </div>
                <div class="card_right_down"></div>
            </div>
        </div>
        <div class="card">
            <div class="card_left">
                <p style="margin-top:10px;">3</p>
            </div>
            <div class="card_right">
                <div class="card_right_up">
                    <div style="margin:10px 20px;" class="right">
                        <p>分值:&nbsp;&nbsp;&nbsp;&nbsp;
                            <input class="text_2" type="text">
                        </p>
                    </div>
                </div>
                <div class="card_right_down"></div>
            </div>
        </div>
    </div>
    <!--content End-->
    <div id="button" align="center">
        <div class="inline"><a class="green_button" href="Form-the-paper-2.html#选题">返回选题</a></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="inline"><a class="green_button" href="Form-the-paper-4.html#发布成功" value="发布">发布</a></div>
    </div>
    <!--button End-->
    <footer id="footer">
        <p>版权所有 Copyright© 北京五岳鑫信息技术股份有限公司</p>
    </footer>
    <script>
//        $("a[value="
//            发布 "]").leanModal({
//            top: 100,
//            closeButton: ""
//        });
    </script>
    <script defer src="../Dean-Edwards--IE-7-and-8-and-9-master/IE9.min.js"></script>
    <!--<script src="../lib/jquery.leanModal.min.js"></script>-->
    <!--<script src="js/router.js"></script>-->
    <!--<script src="js/formThePaper.js"></script>-->
</body>

</html>