article,
aside,
details,
figcaption,
figure,
footer,
header,
img,
menu,
main,
nav,
section,
summary {
    display: block;
}

a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style-type: none;
    margin: 0 0 1.6rem 0;
}

body,
html {
    height: 100%;
    font-family: "¡±Heiti SC¡±", "¡±Helvetica Neue¡±";
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fLeft {
    float: left
}

.fRight {
    float: right
}

.prelative {
    position: relative
}

header {
    background-color: #2785FF;
    font-size: 1.4rem;
    color: white;
    height: 80px;
    overflow: hidden
}

header div:first-child {
    width: 88px;
    height: 80px;
    background: url("../images/header3.png") round;
    line-height: 80px;
    text-align: center;
    margin-left: 5%;
}

header div:last-child {
    width: 40px;
    margin-right: 5%;
    height: 80px;
    margin-top: 25px;
}

header div:nth-child(2) {
    width: 100px;
    line-height: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    margin-left: -34px;
    text-align: center;
}


/*user页面*/

#content {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.contentHead {
    background-color: #eee;
}


/*.contentlist {*/


/*    color: #ddd;*/


/*}*/

.contentUnit {
    /*    position: relative;*/
    float: left;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 50px;
    height: 50px;
}

.one {
    width: 25%;
}

.two {
    width: 15%;
}

.three {
    width: 40%;
}

.four {
    width: 20%;
}

.addARole {
    color: green;
}


/*subject页面*/

.unit {
    width: 16.66666666%;
    font-size: 0.6rem;
}


/*argument页面*/

.contentUnit1 {
    display: block;
    height: 90px;
    line-height: 90px;
    border: 1px solid #ddd;
    font-size: 1.2rem;
}

.left {
    display: inline-block;
    float: left;
    padding-left: 5%;
}

.right {
    display: inline-block;
    float: right;
    padding-right: 5%;
}

.radio{
    display: inline-block;
    margin-left: 15px;
}