/*首页*/
#index_main{ width: 600px; overflow: hidden; margin: 130px auto 130px auto;}
#index_main > a{ width: 250px; height: 300px; border: 2px solid #C6C6C6; border-radius: 5px; overflow: hidden;}
#index_main > a:hover{border: 2px solid #18aff0;}
#index_main > a > img{ width: 150px; height: 150px; margin: 45px auto 40px auto;}
#index_main > a > span{ font-family: "幼圆"; font-size: 22px; display: block; text-align: center; margin: 0 auto; color: #666; padding: 5px 10px;}
#index_main > a:first-child{ float: left;}
#index_main > a:last-child{ float: right;}

/*录题 Nav*/
#title_nav{width: 752px; height: 36px; margin: 30px auto; overflow: hidden;}
#title_nav ul{width: 752px; height: 36px; overflow: hidden;}
#title_nav ul li{width: 250px; float: left;}
#title_nav ul li:nth-of-type(2){ margin: 0 1px;}
#title_nav ul li a{width: 250px; height: 36px; background-color: #83CCF7; color: #fff; text-align: center; line-height: 36px;}
#title_nav ul li .active{ background-color: #3FB0F2;}

/*组卷 Nav*/

#nav_div ul li {
    display: inline-block;
}
#nav_div ul:nth-child(1) li:nth-child(1) {
    margin: 20px 83px 10px 56px;
}
#nav_div ul:nth-child(1) li:nth-child(2) {
    margin: 20px 90px 10px 110px;
}
#nav_div ul:nth-child(1) li:nth-child(3) {
    margin: 20px 100px 10px 130px;
}
#nav_div ul:nth-child(1) li:nth-child(4) {
    margin: 20px 80px 10px 105px;
}
#nav_div ul:nth-child(2) li:nth-child(odd) {
    margin: 0px 5px 24px 0px;
    border: 0px;
    padding: 0px
}
#nav_div ul:nth-child(2) li:nth-child(even) {
    margin: 0px -5px 30px -10px;
    border: 0px;
    padding: 0px
}
.dotActive {
    background-color: #3fb0f2;
}
#nav_div ul:nth-child(1) li a {
    color: #3fb0f2;
}
#nav_div ul:nth-child(2) li a {
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: #3fb0f2;
    width: 10px;
    height: 10px;
}
.progress {
    background-color: #3fb0f2;
    width: 240px;
    height: 2px;
}

/*组卷2 Nav下面*/

#set_div {
    width: 958px;
    margin: 0 auto;
    background-color: #F2FBFF;
    border: 1px solid #DEF4FF;
    padding: 20px;
    overflow: hidden;
}
.cardActive {
    background-color: #83ccf7;
    color: #fff;
}
all_font {
    color: #119beb
}
#set_div ul li {
    display: inline-block;
    margin-left: 20px;
}
#set_div ul li a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#set_div ul li a:active {
    background-color: #83ccf7;
    color: #fff;
}
#set_div ul div {
    display: inline;
    margin: 20px;
}
#set_div ul div li {
    display: inline-block;
    margin: 5px;
}
#set_div ul div li a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#set_div ul div li a:hover {
    background-color: #83ccf7;
    color: #fff;
}

/*组卷2 Content*/

#content {
    width: 1000px;
    margin: 20px auto;
    overflow: hidden;
}

/*组卷2 Content Left*/

#container_left {
    border: 1px solid #e4e6e6;
    background-color: #ffffff;
    width: 227px;
    margin: auto;
    float: left;
    padding: 20px 0px;
}
#container_left_content {
    width: 194px;
    margin: auto;
}
#container_left_table {
    box-shadow: 0px 1px 1px;
    display: inline-block;
    margin-top: 10px;
}
table{
    width: 192px;
    border: solid #e4e6e6;
    border-width:1px 0px 0px 1px;
}
td{
    border: solid #e4e6e6;
    border-width:0px 1px 1px 0px;
    padding: 5px;
    text-align: center;
}

/*组卷2 Content Right*/

#container_right {
    border: 1px solid #e4e6e6;
    background-color: #ffffff;
    width: 758px;
    height: auto;
    margin: auto;
    float: right;
}
#container_right_section {
    margin: 0 auto;
    background-color: #e5f5ff;
    border: 1px solid #DEF4FF;
    padding: 10px 15px;
    overflow: hidden;
}
#container_right_content {
    padding: 10px 15px;
}
#container_right_title{
    margin-top:5px;
}
#container_right_card {
    margin:10px 0px;
}
.container_right_card_tittle{
    margin:10px 0px;
}

/*组卷3 题卡*/

.card {
    width: 964px;
    height: 200px;
    margin: 15px auto;
    border: 1px solid #e5e7e7;
}
.card_left {
    width: 41px;
    height: 200px;
    float: left;
    background-color: #f5f9fd;
    border-right: 1px solid #e5e7e7;
    text-align: center;
    font-family: Arial;
    color:  #376987;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.card_right_up {
    width: 923px;
    height: 100px;
}
.card_right_down{
    width: 923px;
    height: 100px;
    border-top: 1px solid #e5e7e7;
}
.card_right{
    position: absolute;
    margin-left: 41px;
}

/*组卷4*/

/*
.greenCircle{
    border-radius: 50%;
    background-color:  #44c678;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.2);
    width: 86px;
    height: 86px;
}
*/
.bigText {
    font-family: '幼圆';
    color: #666666;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
}
.smallText {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
/*我录入的题目*/
