<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>题目管理</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta content="telephone=no" name="format-detection">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link type="text/css" rel="stylesheet" href="../css/common.css">
    <script type="text/javascript" src="js/common.js"></script>
    <link rel="stylesheet" href="../css/Switch.css">
</head>

<body>
    <div id="content">
        <div>
            <div class="contentHead contentUnit unit">题目编号</div>
            <div class="contentHead contentUnit unit">题目名称</div>
            <div class="contentHead contentUnit unit">误差方式</div>
            <div class="contentHead contentUnit unit">误差阈值</div>
            <div class="contentHead contentUnit unit">总分/小题数</div>
            <div class="contentHead contentUnit unit">小组状态</div>
        </div>
        <div>
            <div class="contentList contentUnit unit"></div>
            <div class="contentList contentUnit unit"></div>
            <div class="contentList contentUnit unit"></div>
            <div class="contentList contentUnit unit"></div>
            <div class="contentList contentUnit unit"></div>
            <div class="contentList contentUnit unit">
                <section class="model-2">
                    <div class="checkbox">
                        <input type="checkbox" />
                        <label></label>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>