/*共有*/

body {
    background-color: #2785ff;
    font-family: Microsoft Yahei;
    margin: 8px 0px 0px 0px;
    width: 100%;
    height: 100%;
}

@media screen and (max-device-width:320px) {
    body {
        background-color: #2785ff;
        font-family: Microsoft Yahei;
        margin: 0;
        width: 100%;
        height: 100%;
    }
    .img {
        margin: -10% 0 0 0;
    }
}

.tittle {
    color: white;
    text-align: center;
    margin: 0px auto;
    font-size: 1.5em;
    line-height: 1.5em;
}

.content {
    background-color: #efefef;
    width: 100%;
    height: 100%;
}

.content_password {
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 16px;
}

.student {
    background-color: white;
    height: 2.5em;
    font-size: 1em;
    vertical-align: middle;
    line-height: 2.5em;
}

.student p {
    margin-left: 20px;
}

.infor {
    background-color: white;
    text-align: center;
    margin-top: 0.3em;
    z-index: 1;
}


/*登录*/

.login {
    text-align: center;
    width: 100%;
    height: 100%;
}

.img {
    padding: -5% 0 -5% 0;
}

.textin {
    margin: 1% 0 10% 0;
}

.fivePattern {
    margin: 0 0 0 1%;
}

.logo {
    text-align: center;
    margin: -110px 0 3% 30px;
}

input[type="text"] {
    width: 16em;
    height: 3em;
    border-radius: 2em;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.502);
    line-height: 1em;
    text-align: left;
    border: 0px;
}

.name input[type="text"] {
    background: url(../img/user.png) no-repeat 1em;
    background-color: rgb( 255, 255, 255);
    padding-left: 3em;
}

.password input[type="password"] {
    background: url(../img/password.png) no-repeat 1em;
    background-color: rgb( 255, 255, 255);
    padding-left: 3em;
    width: 16em;
    height: 3em;
    border-radius: 2em;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.502);
    line-height: 1em;
    text-align: left;
    border: 0px;
}

.forgetPassword {
    width: 19em;
    text-align: right;
    margin: 5px auto 20px auto;
}

.forgetPassword a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    margin-right: 10px;
}

.load input[type="submit"] {
    border-radius: 2em;
    color: white;
    font-size: 1em;
    background-color: rgb(102, 211, 84);
    width: 19em;
    line-height: 1em;
    height: 3em;
    border: 0px;
    margin-top: 20px;
}

.footer {
    font-size: 1em;
    color: rgba( 255, 255, 255, 0.8);
    line-height: 1em;
    text-align: center;
}


/*选择考试*/

.infor1 {
    padding: 30px 0 0 0;
}

.exam {
    margin-top: 20px
}

select {
    border-radius: 0.1em;
    box-shadow: 0px 0px 3px 0px rgba(47, 47, 47, 0.4);
    width: 28em;
    height: 3em;
    border: 0px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url(../img/separator.png) no-repeat 25em 0 #f7f7f7;
    padding: 0 0 0 10px;
    font-size: 0.7em;
}

.next input[type="submit"] {
    border-radius: 0.2em;
    background-color: rgb( 84, 158, 255);
    box-shadow: 0px 3px 0px 0px rgb( 60, 142, 248);
    width: 6em;
    height: 3em;
    font-size: 1em;
    line-height: 1em;
    color: white;
    margin-top: 40px;
    border: 0px;
}


/*考试列表*/

a {
    color: white;
    text-decoration: none;
}

.return {
    margin: 5px -50px 0 10px;
    float: left;
    display: inline-block;
}

.edit {
    margin: -33px 10px 0 0;
    float: right;
    display: inline-block;
}

.pop {
    display: none;
    position: absolute;
    right: 12px;
    top: 50px;
}

table {
    border-top: 1px #dedede solid;
    border-bottom: 1px #dedede solid;
    margin: 0px auto;
    width: 100%;
}

table tr th {
    background-color: #f7f7f7;
    text-align: center;
    color: #484848;
    line-height: 2.667em;
    height: auto;
}

table tr td {
    background-color: white;
    color: red;
    border-top: 1px #dedede solid;
    text-align: center;
    height: auto;
}

table tr td:nth-child(1) {
    color: #484848;
    line-height: 2.667em;
}


/*修改密码*/

.passwordPage input[type="password"] {
    border-radius: 4px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 3px 0px rgba(47, 47, 47, 0.4);
    width: 15em;
    height: 2em;
    margin: 1em 0 1em 0;
    padding: 0.1em 1em;
    vertical-align: middle;
    border: 0px;
    font-size: 1em;
    line-height: 1em;
}