<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>录题</title>
    <link type="text/css" rel="stylesheet" href="../css/common.css">
    <link type="text/css" rel="stylesheet" href="../css/css.css">
    <script type="text/javascript" src="../lib/jquery-1.9.1.js"></script>
</head>

<body>
    <header id="header">
        <div class="top_box">
            <a class="logo" href="../index.html"><img src="../images/logo.png"></a>
            <ul class="top_nav">
                <li><a href="#">退出登录</a></li>
                <li><span>|</span></li>
                <li><img src="../images/topicon1.png"><a href="#">姓名</a></li>
                <li><span>|</span></li>
                <li><a href="#">我要组卷</a></li>
                <li><span>|</span></li>
                <li><a href="#">我要录题</a></li>
            </ul>
        </div>
    </header>
    <!--header End-->
    <div id="container">
        <nav id="nav_div">
            <div align="center">
                <ul>
                    <li><a class="cursor">填写基本信息</a></li>
                    <li><a class="cursor">选题</a></li>
                    <li><a class="cursor">预览</a></li>
                    <li><a href="#发布成功">发布成功</a></li>
                </ul>
                <ul>
                    <li>
                        <a class="cursor"></a>
                    </li>
                    <li>
                        <p class="progress"></p>
                    </li>
                    <li>
                        <a class="cursor"></a>
                    </li>
                    <li>
                        <p class="progress"></p>
                    </li>
                    <li>
                        <a class="cursor"></a>
                    </li>
                    <li>
                        <p class="progress"></p>
                    </li>
                    <li>
                        <a class="dotActive"></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--nav End-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <div align="center">
            <div class="inline">
                <img src="../images/right.png">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="inline">
                <p class="bigText">恭喜您已成功发布！</p>
                <br>
                <br>
                <p class="smallText">文字文字文字文字文字</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div id="button" align="center" style="margin-left:110px;">
            <div class="inline"><a class="green_button" href="../Form-the-paper-1.html#填写基本信息">继续发布</a></div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="inline"><a class="yellow_button_return" href="../index.html">返回首页</a></div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--button End-->
    </div>
    <!--container End-->
    <footer id="footer">
        <p>版权所有 Copyright© 北京五岳鑫信息技术股份有限公司</p>
    </footer>
    <script>
    </script>
    <!--<script src="../lib/jquery.leanModal.min.js"></script>-->
    <!--<script src="js/router.js"></script>-->
    <!--<script src="js/formThePaper.js"></script>-->
</body>

</html>